<%- include('generic/head') %>
<body>
    <%- include('generic/header') %>
        <div class="motus-container">
            <div class="motus-scores">
                <div class="max-score">
                    <p>Record: <span class="max-score-value">0</span></p>
                </div>
                <div class="current-score">
                    <p>Trouvés: <span class="current-score-value">0</span></p>
                </div>
            </div>
            <div class="message-container"></div>
            <div class="motus-grid"></div>
            <button class="play-button">Jouer</button>
        </div>
        <%- include('generic/footer', { userName, page }) %>
        <script src="./js/motus.js" type="module"></script>
</body>

</html>