<%- include('generic/head') %>
<body>
    <%- include('generic/header') %>

        <div class="motus-container">
            <div class="motus-scores">
                <div class="max-score">
                    <p>Record: <span class="max-score-value">0</span></p>
                </div>
                <div class="current-score">
                    <p>Trouvés: <span class="current-score-value">0</span></p>
                </div>
            </div>
            <div class="motus-grid">
                
            </div>
            <div class="message-container">

            </div>
            <button class="play-button">Commencer</button>
        </div>
        <script src="./js/motus.js" type="module"></script>
</body>

</html>