.motus-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #407EFB;
}

.motus-scores {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.motus-grid {
    margin: 14vh auto 0;
    width: 280px;
}

.motus-row, .motus-col{
    width: 40px;
    height: 40px;
    background-color: #0B65C6;
}

.motus-col{
    border: 1px solid #000;
    line-height: 40px;
}

.motus-row {
    transform: rotate(-90deg);
}

.play-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0B65C6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease;
}