/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 versions
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background: #407EFB;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.logo-motus {
    width: 260px;
}

a {
    text-decoration: none;
    color: white;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

a:hover {
    color: #FE231B;
}

.form {
    padding: 40px;
    max-width: 300px;
    margin: 40px auto;
    border-radius: 4px;
    text-align: center;
}

.tab-group a{
    color: white;
    text-decoration: underline;
    color: #042782;
}


button {
    all: unset;
}

label {
    text-align: left;
    margin-bottom: 4px;
}

.button-submit {
    background-color: #0B65C6;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.field-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
}

.message-container {
    text-align: center;
}