<footer class="footer">
    <div class="footer-container">
        <p>Bonjour <%= userName %></p>
        <% if(page === 'game') { %>
            <a class="leaderboard-link" href="/leaderboard"><p>Wall Of Fame</p></a>
        <% } else { %>
            <a href="/motus"><p>Motus</p></a>
        <% } %>
        <a href="/logout"><img class="logout" alt="Logout icon" src="/img/right-from-bracket-solid.svg" /></a>
    </div>
</footer>